
body { margin: 0px; padding: 8px 10% 0px 10% }

#quotes { text-align: justify; line-height: 2em; font-family: 'Vollkorn', serif; font-size: 1.6em; }

#icon { cursor: pointer; position: fixed; top: -80px; left: 4px; width: 32px; height: 32px; padding: 4px; background-color: #336699;}
#iconStart { text-align: center; padding: 80px;}
#iconStart img { cursor: pointer;  padding: 4px; background-color: #336699;}

#footer { position: fixed; top: -80px; left: 0px;  background-color: #666; width: 100%; color: #fff; font-family: 'Vollkorn', serif; font-style: italic; font-size: 16px; text-shadow: 1px 1px 1px #000; }

#prefs { float: right; background-color: #444;}
.prefsButton { display: inline; padding: 8px;  color: #336699; font-size: 14px; font-style: normal; background-color: #999; text-decoration: none; margin-right: 1px; text-shadow: none;}
.selectedButton { color: #999; background-color: #336699; }
.buttonHover { background-color: #eca742; }

#title { float: left; text-shadow: 1px 1px 1px #000; padding: 12px 10% 12px 0; margin-left: 8%; font-size: 24px; line-height: 40px;}
#menu { float: right; padding: 12px 0 12px 12px; margin-right: 10%; line-height: 40px;}

#aboutButton { display: inline; padding: 8px 14px 8px 14px;  margin-left: 20px; color: #fff; font-size: 14px; font-style: normal; background-color: #333; text-decoration: none; }

#about { width: 50%; height: 50%; background-color: #fff; padding: 5%; font-family: 'Vollkorn'; font-size: 1.25em; overflow: scroll;}
#about a { text-decoration: none; font-weight: bold; color: #336699;}
#aboutFooter { text-align: center; margin-top: 40px;}
#aboutFooter a { display: inline; width: 200px; background-color: #ddd; padding: 4px; margin: 4px; }

#closeButton { cursor: pointer;float:left;padding:16px 0px 0px 6px; }
